body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1{
    background: linear-gradient(90deg,  rgb(23, 5, 5), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.553), rgba(0, 0, 0, 0), rgb(23, 5, 5)),
    url(./img/glow.png),
    url(./img/background_section_1.png);
    /* background-attachment: fixed; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 91vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: start;
}
.logo{
    width: 300px;
    height: 300px;
    background: url(./img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 6;
}
.glow {
    position: absolute;
    height: 91vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0)80%, rgba(23, 5, 5, 0.611)),
        radial-gradient(circle farthest-corner at 50% 100%,rgba(14, 45, 200, 0.144), rgba(0, 0, 0, 0));
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}
.hr-gradient{
    height: 3px;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(26, 64, 125), rgb(0, 0, 0));
}
.left-pers, .right-pers{

    width: 36%;
}
.boxes{
    height: 300px;
    width: 550px;
    padding-right: 32px;
}
.boxes img{
    width: 100%;
    box-sizing: border-box;
}
.headers{
    margin-top: 40px;
    color: white;
    padding-bottom: 30px;
    background: url(./img/glow-bot.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 7;
}
.headers h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    margin-bottom: 0px;
}
.left-pers img, .right-pers img{
    height: 100%;
}
.section2{
    background: url(./img/glow-bot.png) no-repeat,
        url(./img/background-wall.png);
    background-size: contain;
    background-position: bottom;
    display: flex;
}
.section2 .card{
    width: 50%;

}
.section2 h2{
    color: rgb(65, 109, 244);
    font-size: 16px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    margin-bottom: 0px;
}
table{
    border-spacing: 8px;
    line-height: 18.75px;
    border-collapse: collapse;
    font-size: 14px;
}
table img{
    height: 54px;
    width: 54px;
    margin: 2px;
}
.servers{
    color: rgba(103, 29, 0, 1);
    font-size: 12px;
    text-align: center;
    border: 1px solid rgba(103, 29, 0, 1);
    line-height: 13px;
    padding: 4px 6px;
}
tbody tr{
    border: 1px solid rgba(103, 29, 0, 1);
    margin: 4px;
    color: white;
}
.center{
    text-align: center;
}
.two-row{
    max-width: 60%;
    padding-left: 16px;
}
.crutch{
    height: 8px;
}
.buy{
    margin: 30px 0;
    display: flex;
    align-items: flex-end;
}
.buy span{
    font-size: 32px;
    color: white;
    display: block;
}
.buy button{
    padding: 8px 24px;
    background: rgba(252, 255, 0, 1);
    border-radius: 4px;
    border: 0;
}
.buy div{
    margin-left: 16px;
}
.vito{
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle closest-side, rgba(16, 53, 236, 0.273), rgba(0, 0, 0, 0));
}
.vito img{
    height: 700px;
    box-sizing: border-box;
}